@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微课-热门</title>
    @Styles.Render("~/base/css")
    @Styles.Render("~/weike/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("WeikeNavPartial")
    <div class="container body-content">
        <div class="hotWeike_c content">
            <div class="jumbotron">
                <h1>微课</h1>
                <p>在这里，有老师们精心挑选的资料；</p>
                <p>在这里，有大家共同进步的快乐。</p>
            </div>
            <div class="js">
                <div class="grid">
                    @foreach (var item in ViewBag.data)
                    {
                        <div class="grid__item" data-size=@item.size>
                            <div class="thumbnail weikeCell">
                                <a href=@item.src class="img-wrap"><img src=@item.src></a>
                                <div class="weikeCellDes">
                                    <h3>@item.title</h3>
                                    <div class="weikeCellVote">
                                        <h5>@item.subject</h5>
                                        <span></span>
                                        <span><span class="glyphicon glyphicon-heart"></span>@item.star</span>
                                    </div>
                                </div>
                            </div>
                            <div class="description description--grid">
                                <div class="weikeCellDetail">
                                    <div class="media" onclick="gotoPersonalPage(100)">
                                        <div class="media-left">
                                            <img src="resource/img/portrait.jpg" class="img-circle" onclick="gotoPersonalPage(100)">
                                        </div>
                                        <div class="media-body">
                                            <h4><em>@item.author</em></h4>
                                        </div>
                                    </div>
                                    <h3>@item.title</h3>
                                    <h4>@item.description</h4>

                                    <div class="weikeId" id="200">
                                        <a onclick="likeWeike(this)">点赞 <span>@item.star</span></a>
                                    </div>
                                </div>
                                <div class="weikeCellShowComment">
                                    <a onclick="showComment(this)">查看评论</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="preview">
                    <button class="action action--close"><h1>×</h1></button>
                    <div class="description description--preview"></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("WeikeFooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")


</body>
</html>

<script src="~/Scripts/custom/pblItem.js"></script>
<script type="text/javascript" src="../Scripts/custom/helper.js"></script>
<script>
    var showComment = function (t) {
        $(t).parent().hide();
        showCommentDiv(t, $(t).parent());
    }
</script>