@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微课-热门</title>
    @Styles.Render("~/base/css")
    @Styles.Render("~/weike/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @{
        ViewBag.active = "Home/Index";
    }
    @Html.Partial("WeikeNavPartial", new { active = "hotPage" })
    <div class="container body-content">
        <div class="hotWeike_c content">
            <div class="jumbotron">
                <h1>微课</h1>
                <p>在这里，有老师们精心挑选的资料；</p>
                <p>在这里，有大家共同进步的快乐。</p>
            </div>
            <div class="js">
                <div class="grid">
                    @foreach (var item in ViewBag.data)
                    {
                        DateTime dt = item.weike.postdate;
                        string dtYear = dt.Year.ToString();
                        string dtMonth = dt.Month.ToString();
                        string  dtDay = dt.Day.ToString();
                        string dtstr = dtYear + '/' + dtMonth + '/' + dtDay;
                        <div class="grid__item" data-size=@item.weike.size>
                            <div class="thumbnail weikeCell"  id="@item.weike.weike_id">
                                <a href="../@item.weike.src" class="img-wrap"><img src="../@item.weike.src"></a>
                                <div class="weikeCellDes">
                                    <h3>@item.weike.title</h3>
                                    <div class="weikeCellVote">
                                        <h5>@item.weike.subject  <small>@dtstr</small></h5>
                                        <span></span>
                                        <span><span class="glyphicon glyphicon-heart"></span>@item.weike.star</span>
                                    </div>
                                </div>
                            </div>
                            <div class="description description--grid">
                                <div class="weikeCellDetail">
                                    <div class="media" onclick="gotoPersonalPage(@item.weike.user_id)">
                                        <div class="media-left">
                                            <img src="../resource/img/portrait.jpg" class="img-circle" onclick="gotoPersonalPage(@item.weike.user_id)">
                                        </div>
                                        <div class="media-body">
                                            <h4><em>@item.author</em></h4>
                                        </div>
                                    </div>
                                    <h3>@item.weike.title  <small>@dtstr</small></h3>
                                    <h4>@item.weike.description</h4>

                                    <div class="weikeId" id="@item.weike.weike_id">
                                        @if (ViewBag.favoriteWeikes.Count != 0)
                                        {
                                            int weike_id = item.weike.weike_id;
                                            List<int> weikeFList = ViewBag.favoriteWeikes;
                                            if ( weikeFList.Contains( weike_id) )
                                            {
                                                <a onclick="dislikeWeike(this)">已赞 <span>@item.weike.star</span></a>
                                            }
                                            else
                                            {
                                                <a onclick="likeWeike(this)">点赞 <span>@item.weike.star</span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a onclick="likeWeike(this)">点赞 <span>@item.weike.star</span></a>
                                        }

                                    </div>
                                </div>
                                <div class="weikeCellShowComment"  id="@item.weike.weike_id">
                                    <a onclick="showComment(this)">查看评论</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="preview">
                    <button class="action action--close"><h1>×</h1></button>
                    <div class="description description--preview"></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("WeikeFooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")


</body>
</html>

<script src="~/Scripts/custom/pblItem.js"></script>
<script type="text/javascript" src="../Scripts/custom/helper.js"></script>
<script>
    var showComment = function (t) {
        $(t).parent().hide();
        showCommentDiv(t, $(t).parent());
    }
</script>