@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微课-广场</title>
    @Styles.Render("~/base/css")
    @Styles.Render("~/weike/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("WeikeNavPartial")
    <div class="container body-content">
        <div class="col-xs-9 hotWeike_c content">
            <div class="js">
                <div class="grid">
                    @foreach (var item in ViewBag.data)
                    {
                        <div class="grid__item" data-size=@item.size>
                            <div class="thumbnail weikeCell">
                                <a href="../@item.src" class="img-wrap"><img src="../@item.src"></a>
                                <div class="weikeCellDes">
                                    <h3>@item.title</h3>
                                    <div class="weikeCellVote">
                                        <h5>@item.subject</h5>
                                        <span></span>
                                        <span><span class="glyphicon glyphicon-heart"></span>@item.star</span>
                                    </div>
                                </div>
                            </div>
                            <div class="description description--grid">
                                <div class="weikeCellDetail">
                                    <h4><em>@item.author</em></h4>
                                    <h3>@item.title</h3>
                                    <h4>@item.description</h4>

                                    <div>
                                        <a><span class="glyphicon glyphicon-heart"></span>@item.star</a>
                                    </div>
                                </div>
                                <div class="weikeCellComment">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="我来评论">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">评论</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="weikeCellShowComment">
                                    <a>查看评论</a>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="grid__item" data-size='1280x853'>
                        <div class="thumbnail weikeCell">
                            <a href="../resource/img/8.jpg" class="img-wrap"><img src="../resource/img/8.jpg"></a>
                            <div class="weikeCellDes">
                                <h3>英语写作小技巧</h3>
                                <div class="weikeCellVote">
                                    <h5>English</h5>
                                    <span></span>
                                    <span><span class="glyphicon glyphicon-heart"></span>40</span>
                                </div>
                            </div>
                        </div>
                        <div class="description description--grid">
                            <div class="weikeCellDetail">
                                <h4><em>作者名</em></h4>
                                <h3>英语写作小技巧</h3>
                                <h4>英语写作有很多小技巧，有些技巧能使你的文章更有条理，有些能使文章更生动</h4>

                                <div>
                                    <a><span class="glyphicon glyphicon-heart"></span>40</a>
                                </div>
                            </div>

                            <div class="weikeCellComment">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="我来评论">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">评论</button>
                                    </span>
                                </div>
                            </div>

                            <ul class="media-list weikeCellCommentList">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="resource/img/8.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">用户名1</h5>
                                        <h6>评论内容评论内容评论内容评论内容评论内容评论内容评论内容</h6>
                                        <div class="weikeCellCommentReply">
                                            <a>回复</a>
                                        </div>

                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="resource/img/8.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">用户名1</h5>
                                                <h6>评论内容评论内容评论内容评论内容</h6>
                                                <div class="weikeCellCommentReply">
                                                    <a>回复</a>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="resource/img/8.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">用户名1</h5>
                                                        <h6>评论内容评论内容评论内容评论内容评论内容评论内容</h6>
                                                        <div class="weikeCellCommentReply">
                                                            <a>回复</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="resource/img/8.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">用户名1</h5>
                                                <h6>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</h6>
                                                <div class="weikeCellCommentReply">
                                                    <a>回复</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="resource/img/8.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">用户名1</h5>
                                        <h6>评论内容评论内容评论内容评论内容评论内容</h6>
                                        <div class="weikeCellCommentReply">
                                            <a>回复</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <button class="action action--close"><h1>×</h1></button>
                    <div class="description description--preview"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="sidebar" data-spy="affix">
                <div class="sidebarUserInfo">
                    <div>
                        <a href="../PersonalPage/PersonalPageWeike"><img src="../resource/img/portrait.jpg" class="img-responsive img-circle"></a>
                    </div>
                    <a href="../PersonalPage/PersonalPageWeike"><span>@ViewBag.user["name"]</span></a>
                    <div>
                        <a href="../PersonalPage/PersonalPageFollows"><span>@ViewBag.user["followCount"]</span><span>关注</span></a>
                        <a href="../PersonalPage/PersonalPageLikes"><span>@ViewBag.user["likeCount"]</span><span>收藏</span></a>
                        <a href="../PersonalPage/PersonalPageWeike"><span>@ViewBag.user["weikeCount"]</span><span>微课</span></a>
                    </div>
                </div>
                <div class="sidebarPublishBtn">
                    <button onclick="window.location.href='../Publish/Publish?from=Home/Playground'">发布微课</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("WeikeFooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")

    <script src="~/Scripts/custom/pblItem.js"></script>
</body>
</html>
