@using WeiKe.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微课-广场</title>
    @Styles.Render("~/base/css")
    @Styles.Render("~/weike/css")
    @Styles.Render("~/playground/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ 
        ViewBag.active = "Home/Playground";
    }
    @Html.Partial("WeikeNavPartial")
    <div class="container body-content">
        <div class="col-xs-9 hotWeike_c content">
            <form class="playgroundSearchDiv" action="../Home/Playground" method="POST">
                <h3>搜索</h3>
                <div class="input-group">
                    <div class="input-group-btn">
                        @{ 
                            string type = ViewBag.type == null ? "标题" : ViewBag.type;
                        }
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @type <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a onclick="changeSearchType(this)">标题</a></li>
                            <li><a onclick="changeSearchType(this)">作者</a></li>
                            <li><a onclick="changeSearchType(this)">学科</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="type" value=@type />
                    <input type="text" name="keyword" class="form-control" placeholder="搜索" value=@ViewBag.keyword />
                    <span class="input-group-btn">
                        <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>

            </form>
            @if (ViewBag.keyword != null)
            {
                <h5>当前搜索：”@ViewBag.keyword“  在 @ViewBag.type 中</h5>
            }

            <div class="js">
                <div class="grid">
                    @if ((User)Session["user"] == null)
                    {
                        foreach (var item in ViewBag.data)
                        {
                            DateTime dt = item.weike.postdate;
                            string dtYear = dt.Year.ToString();
                            string dtMonth = dt.Month.ToString();
                            string dtDay = dt.Day.ToString();
                            string dtstr = dtYear + '/' + dtMonth + '/' + dtDay;
                            <div class="grid__item" data-size=@item.weike.size>
                                <div class="thumbnail weikeCell" id="@item.weike.weike_id">
                                    <a href="../@item.weike.src" class="img-wrap"><img src="../@item.weike.src"></a>
                                    <div class="weikeCellDes">
                                        <h3>@item.weike.title</h3>
                                        <div class="weikeCellVote">
                                            <h5>@item.weike.subject  <small>@dtstr</small></h5>
                                            <span></span>
                                            <span><span class="glyphicon glyphicon-heart"></span>@item.weike.star</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="description description--grid">
                                    <div class="weikeCellDetail">
                                        <div class="media" onclick="gotoPersonalPage(@item.weike.user_id)">
                                            <div class="media-left">
                                                <img src="../resource/img/portrait.jpg" class="img-circle" onclick="gotoPersonalPage(@item.weike.user_id)">
                                            </div>
                                            <div class="media-body">
                                                <h4><em>@item.author</em></h4>
                                            </div>
                                        </div>
                                        <h3>@item.weike.title <small>@dtstr</small></h3>
                                        <h4>@item.weike.description</h4>

                                        <div class="weikeId" id="@item.weike.weike_id">
                                               <a onclick="likeWeike(this)">点赞 <span>@item.weike.star</span></a>
                                        </div>
                                    </div>
                                    <div class="weikeCellShowComment" id="@item.weike.weike_id">
                                        <a onclick="showComment(this)">查看评论</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var item in ViewBag.weikeDataWithFavorite)
                        {
                            DateTime dt = item.Key.weike.postdate;
                            string dtYear = dt.Year.ToString();
                            string dtMonth = dt.Month.ToString();
                            string dtDay = dt.Day.ToString();
                            string dtstr = dtYear + '/' + dtMonth + '/' + dtDay;
                            <div class="grid__item" data-size=@item.Key.weike.size>
                                <div class="thumbnail weikeCell" id="@item.Key.weike.weike_id">
                                    <a href="../@item.Key.weike.src" class="img-wrap"><img src="../@item.Key.weike.src"></a>
                                    <div class="weikeCellDes">
                                        <h3>@item.Key.weike.title</h3>
                                        <div class="weikeCellVote">
                                            <h5>@item.Key.weike.subject  <small>@dtstr</small></h5>
                                            <span></span>
                                            <span><span class="glyphicon glyphicon-heart"></span>@item.Key.weike.star</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="description description--grid">
                                    <div class="weikeCellDetail">
                                        <div class="media" onclick="gotoPersonalPage(@item.Key.weike.user_id)">
                                            <div class="media-left">
                                                <img src="../resource/img/portrait.jpg" class="img-circle" onclick="gotoPersonalPage(@item.Key.weike.user_id)">
                                            </div>
                                            <div class="media-body">
                                                <h4><em>@item.Key.author</em></h4>
                                            </div>
                                        </div>
                                        <h3>@item.Key.weike.title <small>@dtstr</small></h3>
                                        <h4>@item.Key.weike.description</h4>

                                        <div class="weikeId" id="@item.Key.weike.weike_id">

                                            if( item.Value) {
                                            <a onclick="dislikeWeike(this)">已赞 <span>@item.Key.weike.star</span></a>
                                            } else {
                                            <a onclick="likeWeike(this)">点赞 <span>@item.Key.weike.star</span></a>
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="weikeCellShowComment" id="@item.Key.weike.weike_id">
                                        <a onclick="showComment(this)">查看评论</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="preview">
                    <button class="action action--close"><h1>×</h1></button>
                    <div class="description description--preview"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="sidebar" data-spy="affix">
                @if (ViewBag.user == null)
                {
                    <div class="sidebarPublishBtn">
                        <button onclick="window.location.href='../Auth/Index?type=0'">登陆后可发布微课</button>
                    </div>
                }
                else
                {
                    <div class="sidebarUserInfo">
                        <div>
                            <a href="../PersonalPage/PersonalPageWeike"><img src="../resource/img/portrait.jpg" class="img-responsive img-circle"></a>
                        </div>
                        <a href="../PersonalPage/PersonalPageWeike/@ViewBag.user.id"><span>@ViewBag.user.name</span></a>
                        <div>
                            <a href="../PersonalPage/PersonalPageFollows/@ViewBag.user.id"><span>@ViewBag.user.followNum</span><span>关注</span></a>
                            <a href="../PersonalPage/PersonalPageLikes/@ViewBag.user.id"><span>@ViewBag.user.favoriteNum</span><span>收藏</span></a>
                            <a href="../PersonalPage/PersonalPageWeike/@ViewBag.user.id"><span>@ViewBag.user.postNum</span><span>微课</span></a>
                        </div>
                    </div>
                    <div class="sidebarPublishBtn">
                        <button onclick="window.location.href='../Publish/Publish?from=Home/Playground'">发布微课</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @Html.Partial("WeikeFooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")

</body>
</html>

<script src="~/Scripts/custom/pblItem.js"></script>
<script type="text/javascript" src="../Scripts/custom/helper.js"></script>
<script>
    var showComment = function (t) {
        $(t).parent().hide();
        showCommentDiv(t, $(t).parent());
    }

    var changeSearchType = function(t) {
        var newType = $(t).text().slice(0, 2);
        $(t).parent().parent().prev().html(newType + " <span class=\"caret\"></span>");
        $(t).parent().parent().parent().next().val(newType);
    }
</script>