<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 微课</title>
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/weike/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @Html.Partial("WeikeNavPartial")
    <div class="container body-content">
        @RenderBody()

        <hr/>
        @Html.Partial("WeikeFooterPartial")
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")
    @Scripts.Render("~/bundles/weike")
    @RenderSection("scripts", required: false)
</body>
</html>
