
@{
    ViewBag.Title = "PersonalPageLikes";
    Layout = "~/Views/Shared/WeikePersonalPageLayout.cshtml";
}

<ol class="breadcrumb personalPageNav" data-spy="affix" data-offset-top="230" id=@ViewBag.personalInfo["id"]>
    @if (ViewBag.isCurrentUser)
    {
        <li><a href="../PersonalPage/PersonalPageWeike?userId=@ViewBag.personalInfo["id"]">微课 @ViewBag.personalInfo["weikeCount"]</a></li>
        <li class="active">赞过的微课 @ViewBag.personalInfo["likeCount"]</li>
        <li><a href="../PersonalPage/PersonalPageFollows?userId=@ViewBag.personalInfo["id"]">关注的人 @ViewBag.personalInfo["followCount"]</a></li>
    }
    else
    {
        <li><a href="../PersonalPage/PersonalPageWeike?userId=@ViewBag.personalInfo["id"]">微课 @ViewBag.personalInfo["weikeCount"]</a></li>
        <li class="active">赞过的微课 @ViewBag.personalInfo["likeCount"]</li>
        <li><a href="../PersonalPage/PersonalPageFollows?userId=@ViewBag.personalInfo["id"]">关注的人 @ViewBag.personalInfo["followCount"]</a></li>
    }    

    <span></span>
    @if (ViewBag.isCurrentUser)
    {
        <button class="btn btn-primary" onclick="window.location.href = '../Publish/Publish?from=PersonalPage/PersonalPageWeike'">+<span>发布微课</span></button>
    }
    else if (ViewBag.hasFollow)
    {
        <button class="btn btn-primary navFollowBtn" onclick="unfollow(this)">已关注</button>
    }
    else
    {
        <button class="btn btn-primary navFollowBtn" onclick="follow(this)">+ 关注</button>
    }    
</ol>

<div class="personalPageContent">

    @{
        var id = 100;
    }
    @foreach (var item in ViewBag.weikeData)
    {    
        <div class="personalPageContentItem weikeId" id="@item.weike.weike_id">
            <div class="media">
                <div class="media-left">
                    <img src="../resource/img/portrait.jpg" class="img-circle" onclick="gotoPersonalPage(@item.weike.user_id)">
                </div>
                <div class="media-body">
                    <p><b>@item.author</b></p>
                    <p>2016-06-16 @item.weike.subject</p>
                    <h3>@item.weike.title</h3>
                    <p>@item.weike.description</p>
                    <div class="thumbnail">
                        <img src="../@item.weike.src">
                    </div>
                </div>
            </div>
            <div class="personalPageContentItemBotmBar"  id="@item.weike.weike_id">
                <a onclick="showCommentDiv(this)">评论 <span>@item.weike.commentNum</span></a>
                <span>|</span>
                <a onclick="likeWeike(this)">点赞 <span>@item.weike.star</span></a>
            </div>
        </div>

        id = id + 1;
    }
</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/custom/helper.js"></script>