@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微课</title>
    @Styles.Render("~/base/css")
    @Styles.Render("~/auth/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        
    </style> 
    
    <script>
       // var status = @ViewBag.status;
       // if(status==-1){
       //     alert("邮箱未注册，请先注册！");
       // }else if(alert==0){
       //    alert("密码错误，请重新登陆！");
       // }
    </script>
   
</head>
<body>
    @Html.Partial("WeikeNavPartial")
    @{ 
        var loginFormDisplay = "none";
        var signupFormDisplay = "none";
        if (ViewBag.authType == 0)
        {
            loginFormDisplay = "block";
        } else if (ViewBag.authType == 1)
        {
            signupFormDisplay = "block";
        }
        var redirctPage = ViewBag.redirectPage != null ? ViewBag.redirectPage : "Home";
    }

    <div class="container body-content">
        <form class="form-login" action="../Auth/Login" method="post"  style="display: @loginFormDisplay">
            @if (ViewBag.status == 0)
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>提示：</strong>密码错误，请重新登陆
                </div>
            }
            <h2 class="form-login-heading">登陆</h2>
            <input type="email" name="loginEmail" class="form-control inputUserEmail" placeholder="邮箱" required autofocus>
            <input type="password" name="loginPassword" class="form-control inputPassword" placeholder="密码" required>

            <input type="hidden" name="redirectPage" value="@redirctPage">

            <button id="login_button" class="btn btn-lg btn-primary btn-block">登陆</button>
            <div class="log_trans_sign">
                <a href="javascript:void(0);" onclick="log_2_sign()">先去注册</a>
            </div>
        </form>

        <form class="form-signup" action="../Auth/Signup" method="post"  style="display: @signupFormDisplay">
            @if (ViewBag.status == -1)
            {
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>提示：</strong>邮箱未注册，请先注册
                </div>
            }
            <h2 class="form-signup-heading">注册</h2>
            <div class="form-group">
                <input type="email" class="form-control inputUserEmail" name="signupEmail" placeholder="邮箱" required>
                <img class="userVerify" src="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control inputUserId" name="signupName" placeholder="用户名" required>
                <img class="userVerify" src="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control inputUserPassword"name="signupPassword" placeholder="密码" required>
                <img class="userVerify" src="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control verifyPassword" placeholder="确认密码" required>
                <img class="userVerify" src="" />
            </div>
            <input type="hidden" name="redirectPage" value="@redirctPage">

            <button id="signup_button" class="btn btn-lg btn-primary btn-block">注册</button>
            <div class="sign_trans_log">
                <a href="javascript:void(0);" onclick="sign_2_log()">我要登陆  @redirctPage</a>
            </div>
        </form>
    </div>

    @Html.Partial("WeikeFooterPartial")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")

    <script>
        function log_2_sign() {
            $('.form-login').hide();
            $('.form-signup').slideDown();
            //只清空密码栏
            $('.form-login #inputPassword').val("");
        }

        function sign_2_log() {
            $('.form-signup').hide();
            $('.form-login').slideDown();
            resetSignup();
        }

        function resetSignup() {
            $('.form-signup input[type="radio"]').eq(0).click();
            $('.form-signup .school-form').val(0);
            $('.form-signup #inputUserId').val("");
            $('.form-signup #inputPassword').val("");
            $('.form-signup .userVerify').attr('src', "");
        }

        function validate_password() {
            var password = $('.form-signup .inputUserPassword');
            var confirm_password = $('.form-signup .verifyPassword');

            if (password.val() != confirm_password.val()) {
                confirm_password[0].setCustomValidity("两次密码不同");
                //confirm_password[0].reportValidity();
            } else {
                confirm_password[0].setCustomValidity('');
            }
        }
        $('.form-signup .inputUserPassword').change(validate_password);
        $('.form-signup .verifyPassword').keyup(validate_password);

        // 暂时用不上
        function validate_email(input) {
            var value = input.val();
            apos = value.indexOf("@@");
            dotpos = value.lastIndexOf(".");
            if (apos < 1 || dotpos - apos < 2) {
                return false;
            } else {
                return true;
            }
        }

        function validate_required(input) {
            if (input.val() == null || input.val() == "") {
                return false;
            } else {
                return true;
            }
        }

        function validate_form(type) {
            var validationTar = [];
            var validationEmail = null;
            if (type == 0) {
                validationTar = [$('.form-login .inputUserEmail')[0], $('.form-login .inputUserPassword')[0]];
                validationEmail = $('.form-login .inputUserEmail')[0];

            } else if (type == 1) {
                validationTar = [$('.form-signup .inputUserEmail')[0], $('.form-signup .inputUserName')[0], $('.form-signUp .inputUserPassword')[0], $('.form-signUp .verifyPassword')[0]];
                validationEmail = $('.form-signup .inputUserEmail');
            }

            validationTar.foreach(function (input) {
                if (validate_required(input) == false) {
                    input.focus();
                    input.css('border-color', 'red');
                    return false;
                }
            });

            if (validate_email(validationEmail) == false) {
                validationEmail.focus();
                validationEmail.css('border-color', 'red');
                return false;
            }
            return true;
        }
        function signup() {
            if (validate_form(1) == ture) {
                var json = {
                    email: $('.form-signup .inputUserEmail').val(),
                    name: $('.form-signup .inputUserName'),
                    password: $('.form-signup .inputUserPassword').val(),
                };
                $.ajax({
                    type: "post",
                    url: "",
                    data: json,
                    dataType: "json",
                    success: function (data) {
                    },
                    error: function () {
                    }
                });
            }
        }
        function login() {
            if (validate_form(0) == ture) {
                var json = {
                    email: $('.form-login .inputUserEmail').val(),
                    password: $('.form-login .inputUserPassword').val()
                };
                $.ajax({
                    type: "post",
                    url: "",
                    data: json,
                    dataType: "json",
                    success: function (data) {
                    },
                    error: function () {
                    }
                });
            }
        }
    </script>
</body>
</html>
